<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764913122919-im5uh7ql46o99aqs5um26nbn18fuah8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764913122919-im5uh7ql46o99aqs5um26nbn18fuah8k</string>
	<key>API_KEY</key>
	<string>AIzaSyC46XfAIwsRWSKcO3jP06Ds_Kp1Fy8grbE</string>
	<key>GCM_SENDER_ID</key>
	<string>764913122919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creditsuisse.rmdash</string>
	<key>PROJECT_ID</key>
	<string>csrmdash</string>
	<key>STORAGE_BUCKET</key>
	<string>csrmdash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764913122919:ios:f56d4ba3a16927c4bc5ec2</string>
	<key>DATABASE_URL</key>
	<string>https://csrmdash.firebaseio.com</string>
</dict>
</plist>